@page "{id}"
@model Films.Pages.todayfilmsModel
@{
}

<div style="width: 100%;" class="d-flex flex-row m-3 p-3">

    <content class="l" style="width: 25%; "></content>
    <div style="width: 50%;" class="d-flex flex-column p--3 bd-highlight justify-content-center align-items-center">
        <img style="width: 100%; " src="" alt="Alternate Text" />
        @*<h4 style="font-family: sans-serif;">@Model.FilmName</h4>*@
        <h2>Описание</h2>
        @*<div class="fs-5" style="font-family: sans-serif;">@Model.Message</div>*@        <table>
            <thead style="width: 100%;" class="table table-hover table-primary table-striped">
                <tr>
                    <td>Time</td>
                    <td>Hall</td>
                    <td>Prise</td>
                </tr>
            </thead>
            <tbody>
              @*  @foreach (var seans in Model.DispSeans)
                {
                    <tr class="table-active">
                        <td>@seans.Time</td>
                        <td>@seans.Hall</td>
                        <td>@seans.Prise</td>
                    </tr>
                }*@
            </tbody>
        </table>
    </div>
    <content class="r" style="width: 25%; display: flex; flex-direction: column; flex-wrap: wrap; color: white; pading: 10px;"> </content>
</div>
